<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat Your Veggies!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/veggies.js"></script>
		<script src="https://kit.fontawesome.com/f53a07ee43.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div></div>
		{{{ body }}}
	</body>
</html>
