/* li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
} */

/* .label {
  font-weight: bold;
} */

/* .create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
} */

/* .form-group {
  margin-bottom: 5px;
} */

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}


body::after {
  content: "";
  background: url("../images/vegetables.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
